<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>Generator list preferencji</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous" />
  <% if (process.env.NODE_ENV === 'production' ) { %>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="6635801b-1471-412d-807e-a12fa880abf2"></script>
  <% } %>
</head>

<body>
  <div id="app"></div>
</body>

</html>
