<template>
  <div class="filters-list">
    <h2 class="pa-3">Filtry</h2>
    <v-form>
      <v-list class="pa-1">
        <v-list-tile v-for="filter in filters" :key="filter.name">
          <template v-if="filter.type === 'switch'">
            <v-checkbox :label="filter.label" :input-value="!!activeFilters[filter.name]" @change="changeSwitchFilter(filter, $event)"></v-checkbox>
          </template>
          <template v-if="filter.type === 'text'">
            <v-text-field :label="filter.label" :value="activeFilters[filter.name]" @input="changeTextFilter(filter, $event)" clearable></v-text-field>
          </template>
          <template v-if="filter.type === 'number'">
            <v-text-field type="number" min="0" :label="filter.label" :value="activeFilters[filter.name]" @input="changeTextFilter(filter, $event)" clearable></v-text-field>
          </template>
          <template v-if="filter.type === 'multiChoice'">
            <v-combobox :label="filter.label" :value="activeFilters[filter.name]" @input="changeMultichoiceFilter(filter, $event)" :items="filter.options" return-object item-text="name" item-value="id" multiple chips clearable></v-combobox>
          </template>
        </v-list-tile>
      </v-list>
      <h3 class="px-3 py-4 text-xs-right">
        Liczba pasujących wyników: <v-chip>{{ filteredGamesCount }}</v-chip>
      </h3>
      <v-list class="pa-1">
        <v-list-tile>
          <v-select :items="sortTypes" :value="listSorting" @input="setListSorting" label="Sortuj:"></v-select>
        </v-list-tile>
      </v-list>
    </v-form>
  </div>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex';
import filters from '@/helpers/filters';
import debounce from 'lodash/debounce';

const DEBOUNCE_TIME = 400;

export default {
  data() {
    return {
      sortTypes: [
        { text: 'Domyślnie (kolejność z geeklisty)', value: 'default' },
        { text: 'Alfabetycznie', value: 'alpha' },
      ],
    };
  },
  computed: {
    filters() {
      filters.noUserGames.value = this.bggUser;
      filters.wishlistOnly.value = this.userWishlist;
      filters.noUserOwnedGames.value = this.userOwned;
      filters.noUserPrevOwnedGames.value = this.userPrevOwned;
      filters.wantedOnly.value = this.userWanted;
      filters.bggUser.options = this.owners;
      filters.authors.options = this.authors;
      filters.excludeUsers.options = this.owners;
      return Object.values(filters);
    },
    ...mapState(['bggUser', 'userWishlist', 'userOwned', 'userPrevOwned', 'userWanted', 'authors', 'listSorting', 'owners']),
    ...mapGetters(['filteredGamesCount', 'activeFilters']),
  },
  methods: {
    // eslint-disable-next-line
    changeTextFilter: debounce(function (filter, textValue) {
      if (textValue) {
        this.setFilter({ name: filter.name, value: textValue });
      } else {
        this.removeFilter(filter.name);
      }
    }, DEBOUNCE_TIME),
    changeSwitchFilter(filter, value) {
      if (value) {
        this.setFilter({ name: filter.name, value: filter.value });
      } else {
        this.removeFilter(filter.name);
      }
    },
    changeMultichoiceFilter(filter, value) {
      if (value && value.length) {
        this.setFilter({ name: filter.name, value });
      } else {
        this.removeFilter(filter.name);
      }
    },
    ...mapMutations(['removeFilter', 'setListSorting']),
    ...mapActions(['setFilter']),
  },
};
</script>
