<template>
  <div>
    <v-card height="100%">
      <v-layout row>
        <v-flex xs4 md2>
          <v-layout row wrap>
            <v-flex xs12 style="position: relative;">
              <v-img :src="image.src" height="100%" contain></v-img>
              <v-tooltip v-if="!image.isCustom" bottom>
                <template v-slot:activator="{ on }">
                  <v-icon v-on="on" color="red" style="position: absolute; bottom: -0.5em; right: -0.5em; z-index: 1;">fa-exclamation-triangle</v-icon>
                </template>
                <span>Uwaga, na geekliście mogło zostać wybrane inne zdjęcie!</span>
              </v-tooltip>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs8 md10 class="pl-3">
          <v-layout row>
            <v-flex>
              <v-card-title class="ma-0 pl-0 pt-1">
                <h3>
                  <a v-if="game.itemId" :href="geeklistItemUrl(game.number)" target="_blank">#{{ game.number }}</a>
                  <a :href="gameUrl(game)" target="_blank" class="ml-2">{{ game.name }}</a>
                </h3>
              </v-card-title>
            </v-flex>
          </v-layout>
          <v-layout v-if="game.itemId" row>
            <v-flex xs12>
              <strong>Wystawiający:</strong>
              <a :href="userUrl(game.bggUser)" target="_blank">{{ game.bggUser }}</a>
            </v-flex>
          </v-layout>
          <v-layout v-if="mightBeOutdated" row mt-5 style="font-size: 1.5rem;">
            <v-flex xs12>
              <strong>UWAGA! Ta pozycja może być nieaktualna, sprawdź opis poniżej!</strong>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
      <v-layout row>
        <v-flex xs12>
          <v-card-actions class="text-xs-center" style="position: relative;">
            <v-btn color="primary" small flat style="width: 90%;" @click.native="toggleDescription">
              <v-icon left>{{ !showText ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</v-icon>
              {{ !showText ? 'Pokaż opis' : 'Schowaj opis' }}
            </v-btn>
            <v-btn v-if="!isGameChosen(game) && game.itemId" @click="addChosenGame(game)" fab dark small absolute style="bottom: 5px; right: 5px; z-index: 0;">
              <v-icon dark>fa-dice</v-icon>
            </v-btn>
            <v-btn v-else-if="game.itemId" @click="removeChosenGame(game)" fab dark small absolute color="primary" style="bottom: 5px; right: 5px; z-index: 0;">
              <v-icon dark>fa-dice</v-icon>
            </v-btn>
          </v-card-actions>
        </v-flex>
      </v-layout>
      <v-slide-y-transition>
        <v-card-text v-show="showText" v-html="gameDesc"></v-card-text>
      </v-slide-y-transition>
    </v-card>
    <template v-if="game.subitems">
      <game-card v-for="(subitem, index) in game.subitems" :game="subitem" :key="`${game.number}-${index}-subgame-${subitem.gameId}`" class="ml-4"></game-card>
    </template>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex';

export default {
  name: 'GameCard',
  props: {
    game: {},
  },
  data() {
    return {
      showText: false,
    };
  },
  computed: {
    gameDesc() {
      return this.game.text.replace(/\r?\n/g, '<br />');
    },
    mightBeOutdated() {
      return /nieaktualne/ig.test(this.gameDesc);
    },
    image() {
      return {
        src: (this.game.version && (this.game.version.thumbnail || this.game.version.image)) || this.game.image || this.game.thumbnail,
        isCustom: !!(this.game.version && (this.game.version.thumbnail || this.game.version.image)),
      };
    },
    ...mapState(['mhId']),
    ...mapGetters(['isGameChosen', 'geeklistItemUrl']),
  },
  methods: {
    toggleDescription() {
      this.showText = !this.showText;
    },
    gameUrl(game) {
      return `https://boardgamegeek.com/boardgame/${game.gameId}`;
    },
    userUrl(username) {
      return `https://boardgamegeek.com/user/${encodeURIComponent(username)}`;
    },
    ...mapMutations(['addChosenGame', 'removeChosenGame']),
  },
};
</script>

<style scoped>
  .card__text {
    white-space: pre-wrap;
  }
</style>
