<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-card class="elevation-12">
          <v-toolbar dark color="primary">
            <v-toolbar-title>Podaj swój nick na BGG</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form id="userForm" @submit.prevent="setUser">
              <v-text-field prepend-icon="person" name="bggUser" label="Nazwa użytkownika BGG" type="text" v-model="username"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" type="submit" form="userForm" :loading="isLoading">Zatwierdź</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  data() {
    return {
      username: '',
      isLoading: false,
    };
  },
  methods: {
    async setUser() {
      try {
        this.isLoading = true;
        await this.getBggUser(this.username);
        if (this.$route.query.redirect) {
          this.$router.push(this.$route.query.redirect);
        } else {
          this.$router.push('/');
        }
      } catch (err) {
        // eslint-disable-next-line no-console
        console.error(err);
      } finally {
        this.isLoading = false;
      }
    },
    ...mapActions(['getBggUser']),
  },
};
</script>
