<template>
  <v-layout container wrap>
    <v-flex xs12>
      <h1 class="mb-3">Wybierz grupy gier, które chcesz za swoje gry:</h1>
    </v-flex>
    <v-flex xs12>
      <v-expansion-panel focusable popout>
        <v-expansion-panel-content v-for="game in userGames" :key="`game-${game.number}`">
          <template slot="header">
            <div>#{{ game.number }} {{ game.name }}</div>
            <v-btn flat icon :color="hasAllGroupsSelected(game) ? 'primary' : 'grey' " @click.stop="toggleAll(game)" style="flex-grow: 0;" class="mr-4">
              <v-icon>done_all</v-icon>
            </v-btn>
          </template>
          <v-card>
            <v-card-text>
              <v-layout row wrap>
                <v-flex v-for="group in nonEmptyGroups" :key="`group-${group.name}`" xs12>
                  <v-card class="ma-1 pa-1" :color="isOnPref(game, group)" @click="toggleUserPref({ userGame: game, group })">
                    <v-layout>
                      <v-flex xs1>
                        <v-img v-if="group.items.length" contain align-center :src="gameByNumber(group.items[0]).thumbnail" height="4em"></v-img>
                      </v-flex>
                      <v-flex xs11>
                        <v-card-text>
                          {{ group.name }}
                        </v-card-text>
                      </v-flex>
                    </v-layout>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-flex>
  </v-layout>
</template>

<script>

import { mapGetters, mapState, mapMutations } from 'vuex';

export default {
  data: () => ({
    activeGame: 0,
  }),
  computed: {
    ...mapState(['userPrefs']),
    ...mapGetters(['userGames', 'geeklistItemByNumber', 'nonEmptyGroups', 'gameByNumber']),
    hasAllGroupsSelected() {
      return game => this.userPrefs.find(pref => pref.game.number === game.number).groups.length === this.nonEmptyGroups.length;
    },
  },
  methods: {
    isOnPref(game, group) {
      return this.userPrefs.find(pref => pref.game.number === game.number).groups.includes(group.name) ? 'primary' : '';
    },
    toggleAll(game) {
      const foundPref = this.userPrefs.find(pref => pref.game.number === game.number);
      if (foundPref.groups.length === this.nonEmptyGroups.length) {
        this.deselectAllGroups(game);
      } else {
        this.selectAllGroups(game);
      }
    },
    ...mapMutations(['toggleUserPref', 'selectAllGroups', 'deselectAllGroups']),
  },
};

</script>

<style scoped>
.v-card {
  cursor: pointer;
}
.active {
  background: red;
}
</style>
