<template>
  <v-layout row wrap style="position: relative;" fill-height>
    <v-container>
      <v-layout row mb-3>
        <v-flex xs12 text-xs-center>
          <h1>{{ chosenMhName }}</h1>
        </v-flex>
      </v-layout>
      <v-layout v-if="listLength > 1" row mb-3>
        <v-flex xs10 text-xs-center>
          <v-pagination :length="listLength" :value="listCurrentPage" @input="changePage" total-visible="5"></v-pagination>
        </v-flex>
        <v-flex xs2>
          <v-select :items="[10,25,50,100,200]" :value="listItemsPerPage" @input="setListItemsPerPage" label="Pozycji na stronie:"></v-select>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex v-for="game in gamesPage" :key="`game-${game.number}`" xs12 pa-2>
          <game-card :game="game"></game-card>
        </v-flex>
      </v-layout>
      <v-layout v-if="listLength > 1" row>
        <v-flex xs12 text-xs-center>
          <v-pagination :length="listLength" :value="listCurrentPage" @input="changePage" total-visible="5"></v-pagination>
        </v-flex>
      </v-layout>
    </v-container>
    <v-navigation-drawer v-model="filtersDrawer" width="400" fixed temporary right>
      <v-layout column align-content-space-between style="height: 100%;">
        <v-flex grow>
          <filters-list></filters-list>
        </v-flex>
        <v-flex shrink>
          <v-btn @click="resetState">Reset</v-btn>
        </v-flex>
      </v-layout>
    </v-navigation-drawer>
    <v-btn fab dark color="primary" fixed style="bottom: 20px; right: 20px;" @click="toggleDrawer">
      <v-icon dark>fa-cogs</v-icon>
    </v-btn>
  </v-layout>
</template>

<script>
import GameCard from '@/components/GameCard';
import FiltersList from '@/components/FiltersList';
import { mapGetters, mapActions, mapMutations, mapState } from 'vuex';

export default {
  components: {
    GameCard,
    FiltersList,
  },
  data() {
    return {
      filtersDrawer: false,
    };
  },
  computed: {
    ...mapState(['listItemsPerPage']),
    ...mapGetters(['listCurrentPage', 'filteredGames', 'listLength', 'gamesPage', 'chosenMhName']),
  },
  methods: {
    toggleDrawer() {
      this.filtersDrawer = !this.filtersDrawer;
    },
    ...mapMutations(['setListCurrentPage', 'setListItemsPerPage']),
    ...mapActions(['resetState']),
    changePage(pageNo) {
      this.setListCurrentPage(pageNo);
      window.scrollTo(0, 0);
    },
  },
};
</script>

<style scoped>

</style>
