<template>
  <v-container fluid>
    <v-layout wrap justify-center>
      <v-flex v-for="group in namedGroups" :key="group.id" md5 xs12 class="ma-2">
        <v-card height="100%">
          <v-layout>
            <v-flex xs3>
              <v-img v-if="group.items.length" contain :src="gameByNumber(group.items[0]).thumbnail" height="150px"></v-img>
            </v-flex>
            <v-flex xs9>
              <v-card-title primary-title>
                <template v-if="group.id === editedGroupId">
                  <v-text-field v-model="tempName" class="input-group--focused" single-line></v-text-field>
                  <v-btn color="success" flat small @click="setName(group)">OK</v-btn>
                </template>
                <template v-else>
                  {{ group.name }}
                  <v-btn v-if="!group.gameId" color="info" icon flat small @click="editName(group)">
                    <v-icon>edit</v-icon>
                  </v-btn>
                  <v-spacer></v-spacer>
                  <v-btn v-if="!group.gameId" @click="removeUserNamedGroup(group.id)" flat icon color="error" small>
                    <v-icon>delete_forever</v-icon>
                  </v-btn>
                </template>
              </v-card-title>
              <v-card-text>
                <vue-draggable v-model="group.items" :options="{ group: { name: 'groups' } }">
                  <v-tooltip v-for="gameNumber in group.items" :key="gameNumber" bottom max-width="300px">
                    <v-chip slot="activator" color="primary" text-color="white">
                      #{{ gameNumber }}
                      <v-icon small class="ml-2" @click="removeGameFromGroup(gameByNumber(gameNumber), group)">close</v-icon>
                    </v-chip>
                    <div>
                      <h3>{{ gameByNumber(gameNumber).name }} ({{ gameByNumber(gameNumber).bggUser }})</h3>
                      <div style="white-space: pre-wrap;" v-html="gameByNumber(gameNumber).text"></div>
                    </div>
                  </v-tooltip>
                </vue-draggable>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
      <v-flex xs6 md4>
        <v-btn color="primary" @click="addUserNamedGroup">
          <v-icon>add</v-icon>
          Dodaj grupę
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import { mapGetters, mapActions, mapState, mapMutations } from 'vuex';
import VueDraggable from 'vuedraggable';

export default {
  components: {
    VueDraggable,
  },
  created() {
    this.initUserNamedGroups();
  },
  updated() {
    this.initUserNamedGroups();
  },
  watch: {
    chosenGames() {
      this.initUserNamedGroups();
    },
  },
  data: () => ({
    tempName: '',
    editedGroupId: null,
  }),
  computed: {
    ...mapState(['userNamedGroups', 'chosenGames']),
    ...mapGetters(['geeklistItemUrl', 'geeklistItemByNumber', 'gameByNumber']),
    namedGroups() {
      return this.userNamedGroups.sort(({ name: nameA }, { name: nameB }) => (nameA < nameB ? -1 : 1));
    },
  },
  methods: {
    ...mapMutations(['removeUserNamedGroup', 'removeChosenGame', 'removeGroupFromPrefs']),
    ...mapActions(['initUserNamedGroups', 'addUserNamedGroup']),
    removeGameFromGroup(game, group) {
      // eslint-disable-next-line
      group.items = group.items.filter(gameNumber => gameNumber !== game.number);
      if (!group.items.length && group.gameId) {
        this.removeGroupFromPrefs(group);
      }
      const existsInSomeOtherGroup = this.userNamedGroups
        .some(gr => gr.items.includes(game.number));
      if (!existsInSomeOtherGroup) {
        this.removeChosenGame(game);
      }
    },
    editName(group) {
      this.tempName = group.name;
      this.editedGroupId = group.id;
    },
    setName(group) {
      group.name = this.tempName;
      this.tempName = '';
      this.editedGroupId = null;
    },
  },
};

</script>
