<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card v-if="unusedGroups.length" color="warning" class="mb-5">
          <v-card-title primary-title><h3>Uwaga, niewykorzystane grupy nazwane!</h3></v-card-title>
          <v-card-text>
            <ul>
              <li v-for="group in unusedGroups" :key="group.id">{{ group.name }}</li>
            </ul>
          </v-card-text>
        </v-card>
        <h1>Twoja lista preferencji:</h1>
        <v-card class="pa-3">
          <v-card-text>
            <pre>{{ preflist }}</pre>
          </v-card-text>
          <v-card-actions>
            <v-btn color="success" @click="doCopy">
              <v-icon class="mr-3">{{ copyIcon }}</v-icon>
              {{ copyBtnText }}
            </v-btn>
            <v-btn color="primary" :href="bggMhDmLink" target="_blank">
              <v-icon class="mr-3">send</v-icon>
              Wyślij listę
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>

import { mapState, mapGetters } from 'vuex';

export default {
  data() {
    return {
      copyIcon: 'fa-clipboard-list',
      copyBtnText: 'Skopiuj listę do schowka',
    };
  },
  computed: {
    preflist() {
      let str = '';
      str += this.nonEmptyGroups.reduce((prev, group) => {
        const games = group.items.join(' ');
        return `${prev}\n(${this.bggUser}) ${group.name} : ${games}`;
      }, '');
      str += this.userPrefs.reduce((prev, pref) => {
        const groups = pref.groups.join(' ');
        return `${prev}\n(${this.bggUser}) ${pref.game.number} : ${groups}`;
      }, '');
      return str.trimStart();
    },
    bggMhDmLink() {
      // const sub = encodeURIComponent(`${this.chosenMhName} - Lista Preferencji`);
      // return `https://boardgamegeek.com/geekmail/compose?touser=PolskiMatHandel&subject=${sub}`;
      return 'https://mathandel.planszove.pl/index/profile';
    },
    ...mapState(['bggUser', 'userPrefs']),
    ...mapGetters(['unusedGroups', 'nonEmptyGroups', 'chosenMhName']),
  },
  methods: {
    doCopy() {
      this.$copyText(this.preflist)
        // eslint-disable-next-line
        .then(() => {
          this.copyIcon = 'fa-clipboard-check';
          this.copyBtnText = 'Skopiowano listę do schowka!';
          setTimeout(() => {
            this.copyIcon = 'fa-clipboard-list';
            this.copyBtnText = 'Skopiuj listę do schowka';
          }, 2000);
        })
        .catch((error) => {
          this.copyIcon = 'fa-exclamation-triangle';
          this.copyBtnText = 'Nie udało się skopiować do schowka!';
          // eslint-disable-next-line
          console.error(error);
        });
    },
  },
};

</script>

<style scoped>
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
</style>
