<template>
  <v-app dark>
    <v-toolbar v-if="bggUser && $route.path !== '/get-user'" app color="blue-grey" dark fixed clipped-right dense>
      <v-toolbar-items>
        <v-tooltip :value="hasUserIssue" bottom color="red">
          <template v-slot:activator>
            <v-btn flat large to="/get-user" :color="wishlistRetrieved ? '' : 'error'">
              <v-icon>person</v-icon>
              <span>{{ bggUser }}</span>
            </v-btn>
          </template>
          <span style="font-weight: bold;">Nie udało się pobrać wishlisty i / lub kolekcji z BGG.
          Kliknij i jeszcze raz wprowadź nazwę użytkownika z BGG.</span>
        </v-tooltip>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-btn flat to="/">
          <v-icon>looks_one</v-icon>
          <span class="hidden-sm-and-down">Lista gier</span>
        </v-btn>
        <v-btn flat to="/named-groups" :disabled="noGameChosen">
          <v-icon>looks_two</v-icon>
          <span class="hidden-sm-and-down">Grupy nazwane</span>
        </v-btn>
        <v-btn flat to="/match">
          <v-icon>looks_3</v-icon>
          <span class="hidden-sm-and-down">Przypisanie prefrencji</span>
        </v-btn>
        <v-btn flat to="/pref-list">
          <v-icon>looks_4</v-icon>
          <span class="hidden-sm-and-down">Gotowa lista preferencji</span>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view :key="$route.fullPath"/>
    </v-content>
    <v-footer app>
    </v-footer>
  </v-app>
</template>

<script>
import { mapGetters, mapState } from 'vuex';

export default {
  computed: {
    ...mapState(['bggUser']),
    ...mapGetters(['noGameChosen', 'wishlistRetrieved']),
    hasUserIssue() {
      return !this.wishlistRetrieved;
    },
  },
  beforeCreate() {
    this.$store.dispatch('init');
    if (this.$store.state.bggUser) {
      this.$store.dispatch('getBggUser', this.$store.state.bggUser);
    }
  },
};
</script>

<style>
html {
  font-size: 12px;
}
.v-toolbar .v-toolbar__items .v-btn {
  min-width: 0;
  padding: 0.4em;
}
.v-label {
  font-size: 14px;
}
</style>
